@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
* {
  padding: 0;
  margin: 0;
}

.body {
  background: url("../img/sanke.jpg");
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scoreBox {
  position: absolute;
  top: 9px;
  right: 200px;
  color: red;
  font-size: 39px;
  font-weight: bold;
  font-family: cursive;
}
#scoreBox:hover {
  font-size: 49px;
  color: yellow;
}

#hiscoreBox {
  position: absolute;
  top: 75px;
  right: 150px;
  font-size: 39px;
  color: brown;
  font-weight: bold;
  font-family: cursive;
}
#hiscoreBox:hover {
  font-size: 49px;
  color: rgb(12, 26, 223);
}

#board {
  background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
  width: 90vmin;
  height: 72vmin;
  margin-top: 50px;
  margin-left: 320px;
  border: 7px solid rgb(173, 26, 154);
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
  border-radius: 22px;
}

.head {
  background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
  border: 2px solid rgb(34, 4, 34);
  transform: scale(1.02);
  border-radius: 9px;
}

.snake {
  background-color: rgb(47, 27, 221);
  border: 0.35vmin solid white;
  border-radius: 12px;
}

.food {
  background: linear-gradient(rgb(224, 12, 207), rgb(255, 153, 0));
  border: 0.35vmin solid black;
  border-radius: 8px;
}
footer {
  position: absolute;
  margin-top: 345px;
  width: 50%;
  height: 45px;
  margin-left: 0px;
  color: rgb(11, 240, 228);
  text-align: center;
  font-family: cursive;
  padding-top: 15px;
  font-size: x-large;
  font-weight: bold;
}
